<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thevarunshah.ruontime"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.thevarunshah.ruontime.HomeScreen"
            android:theme="@style/SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thevarunshah.ruontime.RoutesScreen"
            android:label="@string/routes" >
        </activity>
        <activity
            android:name="com.thevarunshah.ruontime.RouteStopsScreen"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.thevarunshah.ruontime.StopsScreen"
            android:label="@string/stops" >
        </activity>
        <activity
            android:name="com.thevarunshah.ruontime.StopRoutesScreen"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.thevarunshah.ruontime.FastestRouteSelectionScreen"
            android:label="@string/fastest_route" >
        </activity>
        <activity
            android:name="com.thevarunshah.ruontime.FastestRouteResultsScreen"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.thevarunshah.ruontime.AboutScreen"
            android:label="@string/about" >
        </activity>
    </application>

</manifest>